<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
    <%= stylesheet_link_tag "/assets/agency" %>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="text-decoration:none;">CV. Stupa Ing</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" style="text-decoration:none;">Tentang Kami</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#struktur" style="text-decoration:none;">Struktur Organisasi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" style="text-decoration:none;">Layanan Kami</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio" style="text-decoration:none;">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" style="text-decoration:none;">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" style="text-decoration:none;">Kontak</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">KONSULTAN TEKNIK</div>
                <div class="intro-lead-in">PERENCANAAN - PENGAWASAN - SURVEY</div>
            </div>
        </div>
    </header>

<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tentang Kami</h2>
                    <h3 class="section-subheading text-muted">CV. STUPA ING</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Profile</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= about = About.find(3)%></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Visi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= about = About.find(4)%></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Misi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= about = About.find(5)%></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tujuan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= about = About.find(6)%></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/5.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Struktur Section -->
    <section id="struktur">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Struktur Organisasi</h2>
                </div>
            </div>
            <div class="row">

            <% @organizations.each do |organization| %>


                    <div class="team-member">
                        <%= image_tag(organization.image.url, class: "img-organization", alt: "") %>
                    </div>

            <% end %>
                
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Layanan Kami</h2>
                    <h3 class="section-subheading text-muted">Dengan dukungan tenaga ahli yang berkualitas</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted"><%= service = Service.find(1)%></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Studi dan Perencanaan</h4>
                    <p class="text-muted"><%= service = Service.find(2)%></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Manajemen dan Pengawasan Proyek</h4>
                    <p class="text-muted"><%= service = Service.find(3)%></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="row">

            <% @portfolios.each do |portfolio| %>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal<%= portfolio.id %>" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag(portfolio.image.url, class: "img-responsive", alt: "") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= portfolio.title %></h4>
                        <p class="text-muted"><%= portfolio.information %></p>
                    </div>
                </div>

            <% end %>

            </div>

        </div>
    </section>
    
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                </div>
            </div>
            <div class="row">

            <% @teams.each do |team| %>

                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag(team.avatar.url, class: "img-responsive img-circle", alt: "") %>
                        <h4><%= team.name %></h4>
                        <p class="text-muted"><%= team.position %></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            <% end %>
                
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>
    
<%= form_for (Contact.new), url: {controller: "contacts", action: "create"} do |f| %>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontak Kami</h2>
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <%= f.text_field :name, :required => true, class: "form-control", placeholder: "Your Name *"%>
                                    <!-- <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name."> -->
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <%= f.text_field :email, :required => true, class: "form-control", placeholder: "Please enter your email address." %>
                                    <!-- <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address."> -->
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <%= f.text_field :phone, :required => true, class: "form-control", placeholder: "Your Phone *" %>
                                    <!-- <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number."> -->
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <%= f.text_area :msg, :required => true, class: "form-control", placeholder: "Please enter a message." %>
                                    <!-- <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea> -->
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <%= f.submit("Send Message", class: "btn btn-xl") %>
                            </div>
                        </div>
                    </form>
                    <center>
                    <br>
                    <p class="text-muted2">Jl. Prasetya Indah VI/70 - Semarang</p>
                    <p class="text-muted2">Telp : +62812-2522-1877</p>
                    <p class="text-muted2">Email : erfan.susanto@stupaing.com</p>
                    </center>
                </div>
            </div>
        </div>
    </section>
<% end %>   

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; 2016 Stupa Ing </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Design by</a>
                        </li>
                        <li><a href="#">Stupa Ing Web Design</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <% @portfolios.each do |portfolio| %>
      <div class="portfolio-modal modal fade" id="portfolioModal<%= portfolio.id %>" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <h2><%= portfolio.title %></h2>
                              <p class="item-intro text-muted"><%= portfolio.information %></p>
                              <%= image_tag(portfolio.image.url, class: "img-responsive img-centered", alt: "") %>
                              <p><%= portfolio.content %></p>
                              <p>
                                  <strong></strong></p>
                              <ul class="list-inline">
                                  <li></li>
                                  <li></li>
                                  <li></li>
                              </ul>
                              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
    
    <!-- jQuery -->
    <%= javascript_include_tag "/assets/jquery" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "/assets/bootstrap.min" %>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <%= javascript_include_tag "/assets/classie" %>
    <%= javascript_include_tag "/assets/cbpAnimatedHeader" %>

    <!-- Contact Form JavaScript -->
    <%= javascript_include_tag "/assets/jqBootstrapValidation" %>
    <%= javascript_include_tag "/assets/contact_me" %>

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag "/assets/agency" %>

</body>

</html>
